# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ----------------------
# Environment Variables
# ----------------------
.env

# ----------------------
# Django
# ----------------------
*.log
*.pot
*.sqlite3
db.sqlite3

# Static & Media (generated)
staticfiles/
media/

# ----------------------
# Virtual Environments
# ----------------------
venv/
env/
ENV/
backenv/
frontenv/

# ----------------------
# IDE / Editor
# ----------------------
.vscode/
.idea/

# ----------------------
# OS Files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Backup files
# ----------------------
*.bak
*.swp
*~

# ----------------------
# Frontend (Node / Build)
# ----------------------
node_modules/
dist/
build/

# ----------------------
# Misc
# ----------------------
*.zip
*.tar.gz